<header class="header">
  <nav class="header-nav">
    <a class="header-logo" href="/">Awesome Blogs</a>
    <div class="header-links">
      <a class="header-link" href="/blogs">Blogs</a>
      <a class="header-link" href="/about">About</a>
      <a class="header-link" href="/blogs/new">New Blog</a>
    </div>
  </nav>
</header>