<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
      <main class="main">
        <section class="about">
          <p class="about-text">This project uses server side rendering with Node js with ejs template views. </p>
        </section>
      </main>
      <%- include("./partials/footer.ejs") %>
        <script></script>
  </body>

</html>