:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: minmax(10vh, auto) 1fr 5vh;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #111;
  max-width: 120rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a,
span {
  display: block;
}

a {
  text-decoration: none;
  color: unset;
}

.link {
  display: inline-block;
  background-color: transparent;
  border: solid aqua;
  padding: 1rem;
  font-size: 2rem;
  border-radius: .25rem;
  letter-spacing: .1rem;
  transition: background .3s ease-in;
}

.link:hover {
  background-color: aqua;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
}

.footer-text {
  text-align: center;
}

.header {
  border-bottom: 1px solid #111;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: .1rem;
  padding: .5rem;
  font-family: monospace;
}

.header-links {
  display: flex;
}

.header-link {
  padding: .5rem;
  margin: 1rem;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  height: 25rem;
  text-align: center;
}

.hero-title {
  font-size: 3.5rem;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 1rem;
}

.hero-cta {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.hero-cta-text {
  margin: 0 1.5rem;
  font-size: 2.5rem;
}

/* blogs section */
.blogs {
  height: 100%;
  padding-top: 5rem;
}

.blogs-title {
  font-size: 3.5rem;
}

.blogs-msg {
  margin: 2.5rem 0 1rem;
  font-size: 2rem;
}

.blogs-list {}

/* add-blog section */
.add-blog {
  padding-top: 2.5rem;
  height: 100%;
}

.add-blog-title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.add-blog-form {
  padding-bottom: 2.5rem;
}

.add-blog-group {
  margin: 1.5rem 0;
}

.add-blog-label {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: .5rem;
}

.add-blog-input {
  outline: none;
  border: none;
  border-bottom: solid #111 1px;
  padding: .5rem 1rem;
  font-size: 1.75rem;
}

.add-blog-textarea {
  outline: none;
  padding: .5rem;
  font-size: 1.75rem;
  resize: none;
  width: 100%;
  min-height: 25rem;
}